<h2>New order</h2>

<%= render "form.html", changeset: @changeset, pay_types: @pay_types,
                        action: order_path(@conn, :create) %>

<%= link "Back", to: store_path(@conn, :index) %>
