<h2>Show order</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @order.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @order.address %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @order.email %>
  </li>

  <li>
    <strong>Pay type:</strong>
    <%= display_pay_type(@order.pay_type_id) %>
  </li>

</ul>

<%= # link "Edit", to: order_path(@conn, :edit, @order) %>
<%= link "Back", to: store_path(@conn, :index) %>
