<strong>ID:</strong>
<%= @user.id %>
<br>
<strong>Name:</strong>
<%= @user.name %>
<br>
<strong>Username:</strong>
<%= @user.username %>
<br/>
<strong>Email:</strong>
<%= @user.email %>
<b><%= # first_name(@user) %></b> (<%= #@user.id %>)
