<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Minishop!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="w3-container">
      <header class="w3-container ">
        <nav role="navigation">
          <ul class="w3-navbar w3-teal">
            <li><a href="http://localhost:4000/">Home</a><br></li> 
            <li><a href="http://www....">FAQ</a><br> </li>
            <li><a href="http://www....">News</a></li>
            <li><a href="http://www....">Contact</a></li>
            <li><a href="http://localhost:4000/store">Store</a></li>
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="w3-container w3-grey">
        <ul class=w3-navbar>
          <li><a href="http://www...">About</a></li>
        </ul>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
